<div class="header" *ngIf="(playedBefore$ | async)">Game Over</div>
<div class="menu-card">

  <div class="score" *ngIf="(playedBefore$ | async)"><div>Your Score:</div><div>{{score$ | async}}</div></div>
  <button class="start-btn" (click)="onRestart()" *ngIf="(playedBefore$ | async)">Restart</button>
  <button class="start-btn" (click)="onRestart()" *ngIf="!(playedBefore$ | async)">Start</button>
</div>
