:host {
  width: 100vw;
  height: 100vh;
  background: #2592D6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .header {
    font-size: 48px;
  }

  .menu-card {
    width: 300px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .score {
      display: flex;
      justify-content: center;
      height: 50px;
      font-size: 28px;
    }

    .start-btn {
      background: #7EE285;
      outline: none;
      border: none;
      border-radius: 10px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      cursor: pointer;
    }
  }
}
