:host {
  pointer-events: none;
  .list-container {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .swap-timer {
    color: black;
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    width: 100px;
    left: auto;
    right: auto;
  }
}

