<div class="list-container">
  <app-bomb *ngFor="let bomb of bombs; trackBy: trackById" [bomb]="bomb"
            class="absolute-bomb"
            [style.left.px]="bomb.position.x"
            [style.top.px]="bomb.position.y"
  ></app-bomb>
</div>
