.game-container {
  width: 100vw;
  height: 100vh;
  background: black;
  display: block;
  position: relative;
  overflow: hidden;

  .status-bar {
    margin-bottom: 10px;
    display: block;
  }

  .bombs-container {

  }

  .bins-container {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
