<div class="game-container" #container>
  <app-status-bar class="status-bar"></app-status-bar>
  <div class="bombs-container">
    <app-bombs-list [bombs]="bombs"></app-bombs-list>
  </div>

  <div class="bins-container">
    <app-bins-list [bins]="bins" [swapTimer]="swapTimer$ | async"></app-bins-list>
  </div>
</div>
