<div class="bar" [style.height.px]="height">
  <div class="swap-timer">{{(swapTimer$ | async) | date : 'ss:SS'}}</div>
  <div class="lifes-container">
    <img class="heart-icon" *ngFor="let life of (lifes$ | async)" src="/assets/heart.svg">
  </div>
  <div class="score"><div class="score-label">Score:</div><div>{{score$ | async}}</div></div>
</div>
