.bar {
  pointer-events: none;
  user-select: none;
  height: 40px;
  background: #041133;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  .lifes-container {
    padding: 0 30px;
    .heart-icon {
      width: 20px;
      height: auto;
      color: white;
    }
  }

  .score {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    width: 100px;
    color: white;

    .score-label {
      margin-right: 20px;
    }
  }

}
