<div [style.width.px]="size" (mousedown)="onMouseDown($event)"
     [style.height.px]="size"
     [style.borderRadius.px]="size/2"
     [style.background]="bomb.color" class="bomb-container">
  <div class="bomb-timer">{{bomb.lifetime | date : 'ss:SS'}}</div>
</div>
