/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

* {
  box-sizing: border-box;
}
